.comment {
  color: rgb(158, 158, 158);
}

.number {
  color: rgb(250, 125, 125);
}

.operator {
  color: rgb(251, 0, 0);
}

.punctuation {
  color: royalblue;
}

.keyword {
  color: chartreuse;
}

.function {
  color: rgb(0, 251, 197);
}

body {
  background-color: black;
}

textarea {
  width: 100%;
  height: 200px;
}

.identifier {
  color: rgb(1, 204, 255);
}
